
params {

    manifest = "${WORKSPACE_BUCKET}/input/sr_lr_manifest_afr_top100.csv"
    outdir = "${WORKSPACE_BUCKET}/results/minimap"

    msa_view_py = '/usr/local/bin/view_region.py'
    reference_fa = "${WORKSPACE_BUCKET}/chr3.fa"

    motif = 'ATATATAAAAATTTATATTTATATATC'
    motif_revcomp = 'GATATATAAATATAAATTTTTATATAT'
    chrom_region = 'chr3'
    begin_region = 169770169
    end_region = 169771552
}



process {
    withName: 'PACBIO_ASM_ALLELE_INFO' {
        memory = '8 GB'
        cpus = 4
        errorStrategy = 'ignore'
    }
}

process.container = "${ARTIFACT_REGISTRY_DOCKER_REPO}/florianzink/telseq_samtools_minimap:v0.7"

profiles {
    
   spot {
        google.batch.spot = true
        google.batch.maxSpotAttempts = 3
        errorStrategy = { task.exitStatus == 50001 ? 'retry' : 'finish'}
        maxRetries = 3
   }

}
